*{
    margin: 0;
    padding: 0;
}
#margin{
    margin-top: 100px;
    margin-left: 100px;
}
.focused-area{
    display: flex;
    margin-bottom: 10px;
}
p{
    font-size: 20px ;
}
.hader-area{
    width: 50%;
}
.hader-area h1{
    font-family: 'Abril Fatface', sans-serif;
    padding-left: 8px;
    font-size: 50px;
    word-spacing: 4px;
    letter-spacing: 2px;
    color: rgb(39, 35, 35);
    border-left: 4px solid #ff4343;
    border-radius: 4px;
}
.orange-color{
    color: rgb(255, 165, 0);
}
.about-focused{
    margin-top: 50px;
    font-family: 'Mukta', sans-serif;
}
.click-barton{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 77, 45);
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.say-some{
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.603);
}
.hader-area img{
    width: 60%;
    padding-left: 100px;
}
.mission-area{
    font-family: 'Mukta', sans-serif;
    margin-left: 80px;
    margin-top: 100px;
}
.mission-area h1{
    font-size: 40px;
    text-align: center;
}
.missions{
    margin-top: 50px;
    margin-right: 80px;
    display: flex;
    text-align: justify;
}
.mission-part{
     width: 30%;
     background-color: rgba(222, 238, 245, 0.76);
     border-radius: 25px;
     margin: 20px;
     padding: 20px;
}
h2{
    padding-bottom: 10px;
}
.mission-part img{
    width: 150px;
}
.develop-margin{
   
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 100px;
}
.develop-area{
    display: flex;
}
.develop-part{ 
    font-family:'Mukta', sans-serif ;
    width: 50%;
    text-align: left;
    margin-bottom: 50px;
}
.develop-part h1{
    font-size: 40px;
    margin-bottom: 8px;
}
.left{
    margin-left: -100px;
}
.develop-part img{
    width: 60%;
}
#pic{
    margin-left: 230px;
}
.project-area{
    font-family:'Mukta', sans-serif ;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.hadin-frast{
    margin-bottom: 80px;
    text-align: center;
    font-size: 40px;
}
.secend-hadin{
    padding-bottom: 15px;
    font-size: 40px;
}
.hero{
    display: flex;
}
#program{
    padding-top: 200px;
}
.project{
    width: 50%;
}
.footer{
   
    margin-top: 30px;
    color: white;
    background-color:black;
    padding: 60px;
    text-align: center;
}
.footer-mission{
     font-family: 'Lobster', sans-serif;
     font-size: 30px;
     margin-bottom: 10px;
}
.hard-work{
    font-family: 'Mukta', sans-serif;
    font-size: 15px;
}
